/.DS_Store
**/.DS_Store
/build/
data/*
!data/etc
!data/etc/*
!data/issues
!data/issues/*
.idea
.gradle
build
WebContent/js/kotlib
WebContent/WEB-INF/data/etc
WebContent/WEB-INF/data/proc
WebContent/WEB-INF/data/heapdump
docker-log
src/commonMain/kotlin/git/GitInfo.kt
src/commonMain/kotlin/git/GitInfoDate.kt
/Deploy/
/kotlin-js-store/
